body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
  position: sticky;
  top: 0;
}

.navbar div a {
  margin-left: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

/* SECTION */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* SKILLS */
.skills span {
  margin: 10px;
  padding: 10px 15px;
  background: #1e293b;
  border-radius: 5px;
  display: inline-block;
}

/* PROJECTS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
